<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_DIR"
		value="/home/kaushika/Documents/logs/flight-reservation"></property>
	<property name="FILE_PREFIX" value="flightreservation"></property>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/${FILE_PREFIX}.log</file>

		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"><!-- tell how the message look like/ data should formatted -->
			<Pattern>%d{YYYY-MM-DD HH:mm:ss} - %msg%n</Pattern>
		</encoder>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/archived/${FILE_PREFIX}.%d{YYYY-MM-DD}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

	</appender>
	
	<root level="info">
		<appender-ref ref="FILE"/>
	</root>
	
</configuration>